<!DOCTYPE html>
<html>
<head>
<style>
 .button {
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }    
    
</style>
</head>
<body>

<h1>President</h1>

<form action="" method="post">
    {% csrf_token %} 
    <label for="country">Select the country:</label>
    <select name="country" id="country">
    {% for Country  in countrylist %}
    <option value="{{Country.id}}">{{Country.country_name}}</option>
    {% endfor %}
  </select><br><br>

    {% csrf_token %} 
    <label for="city">Select the city of birth:</label>
    <select name="city" id="city">
    {% for FullCity  in citylist %}
    <option value="{{FullCity.id}}">{{FullCity.city_name}}</option>
    {% endfor %}

  </select><br><br>

    {% csrf_token %} 
    <label for="neighborhood">Select the neighborhood:</label>
    <select name="neighborhood" id="neighborhood">
    {% for Neighborhood  in neighborhoodlist %}
    <option value="{{Neighborhood.id}}">{{Neighborhood.neighborhood_name}}</option>
    {% endfor %}

  </select><br><br>
    
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="dateofbirth">Date Of Birth</label>
  <input type="date" id="dateofbirth" name="date_of_birth"><br><br>
  <button class="button">Enviar</button>
</form>

</body>
</html>