<!DOCTYPE html>
<html>
<head>
<style>
 .button {
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }    
    
</style>
</head>
<body>

<h1>Products</h1>

<form action="" method="post">
    {% csrf_token %} 
    <label for="countryy">Select the country:</label>

    <select name="country" id="country">
    {% for Country  in countrieslist %}
    <option value="{{Country.id}}">{{Country.country_name}}</option>
    {% endfor %}
    
  </select><br><br>  
  <label for="productname">Product Name:</label>
  <input type="text" id="productname" name="product_name"><br><br>
  <label for="barcode">Barcode:</label>
  <input type="number" id="barcode" name="barcode"><br><br>
  <a>Technology:</a>
  <input type="radio" id="yes" name="technology" value="1">
  <label for="yes">Yes</label><br>
  <input type="radio" id="no" name="technology" value="0">
  <label for="no">No</label><br>


  <button class="button">Send</button>
</form>

</body>
</html>